* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}


.logo {
    width: 55px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
    padding: 3px;
    border-bottom: 2px solid transparent;
}

nav li:hover {
    border-bottom: 2px solid lightgreen;
    transition: 0.7s;
}

nav li a {
    text-decoration: none;
    color: black;
}

.cart_button {
    font-size: 16px;
    padding: 3px 6px;
    cursor: pointer;
    background-color: #ffffff;
    border: 0.5px solid black;
}

.cart_button:hover {
    background-color: lightgreen;
    transition: 0.7s;
}

.shop_info {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #b7fca2;
    padding: 15px;
}

.choise {
    text-align: center;
}

.shop {
    padding: 10px;
}

.contact_us_block {
    min-height: 250px;
    padding: 15px;
}

.contact_form {
    margin: 0 auto;
}

footer {
    padding: 10px;
    background-color: #b7fca2;
}

.find_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.find_us a {
    text-decoration: none;
    color: #000000;
    margin: 5px;
    border-bottom: 2px solid transparent;
    padding: 1px;
}

.find_us a:hover {
    border-bottom: 2px solid #000000;
    transition: 0.7s;
}

footer hr {
    border: 1px solid black;
}

.card {
    background-color: #b7fca2;
    border: none;
    border-radius: 0;
    padding: 10px;
    text-align: center;
}

.shop .btn {
    background-color: transparent;
    color: #000000;
    border: #000000 solid 1px;
}

.shop .btn:hover {
    background-color: #ffffff;
    transition: 0.3s;
}

.contact_us_block {
    text-align: center;
}

.contact_us_block .btn {
    background-color: transparent;
    color: #000000;
    border: #000000 solid 1px;
}

.contact_us_block .btn:hover {
    background-color: #b7fca2;
    transition: 0.3s;
}

nav a:hover{
    text-decoration: none;
    color: black; 
}
