* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}


.logo {
    width: 55px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
    padding: 3px;
    border-bottom: 2px solid transparent;
}

nav li:hover {
    border-bottom: 2px solid lightgreen;
    transition: 0.7s;
}

nav li a {
    text-decoration: none;
    color: black;
}

.cart_button {
    font-size: 16px;
    padding: 3px 6px;
    cursor: pointer;
    background-color: #ffffff;
    border: 0.5px solid black;
}

.cart_button:hover {
    background-color: lightgreen;
    transition: 0.7s;
}

.shop_info {
    text-align: center;
}

.choise {
    text-align: center;
}

.choice_card {
    margin: 0;
}

.choise_img {
    width: 100%;
    margin: 0;
}

@media (min-width: 500px) {
    .choise {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
    .shop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 750px) {
    .choise {
        grid-template-columns: 1fr 1fr;
    }
    .shop {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card_img {
    width: 100%;
}

.product_card div {
    text-align: center;
}
